/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 5%;
    background: var(--bg-dark);
    border-bottom: 1px solid var(--border);
    opacity: 0.9;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 5%;

}

/* ------------------------------------------------------------ */

.create-event {
    align-self: flex-start;
    padding: 0.8rem 1.5rem;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
}

.create-event:hover {
    background: var(--secondary);
}

h3 {
    font-size: 2rem;
    color: var(--primary);
}

/* ------------------------------------------------------------ */

.events {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

/* EVENT CARD */

.card {
    background: var(--bg-card);
    border-radius: 15px;
    border: 2px solid var(--border);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-tag {
    color: var(--secondary);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-info {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1.2rem;
}

.card-button-container {
    display : flex;
    justify-content: space-around;
}

.card-button {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
}

.card-button:hover {
    background: var(--secondary);
}

.card > p {
    font-size: 1.2rem;
}